/* Main Blog Styles */

.subscribe-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #0056b3;
}
